@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Roboto", sans-serif;
  
}
.example::-webkit-scrollbar {
    display: none;
  }